DATABASE_URL=DATABASE_URL=postgresql://climrisk_app:changeme@localhost:5432/ClimRisk
GDACS_BASE_URL=https://www.gdacs.org/gdacsapi/api
GDACS_COUNTRY_FILTER=ZAF
GDACS_EVENT_TYPES=EQ;TC;FL;VO;WF;DR
GDACS_POLL_INTERVAL_HOURS=2
GDACS_POLYGON_INTERVAL_HOURS=6
GDACS_REQUEST_DELAY_SECONDS=0.5
SCHEDULER_ENABLED=true
LOG_LEVEL=INFO
